.App {
  text-align: center;
}

body{
  margin: 0px;
  background-color: #2b2b2b;
  color: white;
  font-family: 'Segoe UI', Sans, Arial;
  font-size: 16pt;
}

header{
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: bold;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0px 10px black;
  position: fixed;
}


header sup{
  font-size: 8px;
}

sup{
  vertical-align: super;
}

.content{
  padding: 20px;
}

.flex{
  display: flex;
}

.flex.wrap{
  flex-wrap: wrap;
}

.flex.string{
  justify-content: space-between;
}

.flex.column{
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

b {
  text-decoration: underline;
}

.text{
  display: flex;
  font-weight: 400;
}

.strings, .forms{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.string{
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: white;
  color: gray;
  border-radius: 10%;
  font-weight: 700;
  flex-direction: column;
}

.button{
  margin-top: 0px;
  width: 150px;
  border-radius: 15px;
  background-color: rgb(24, 20, 20);
  color: white;
  border: none;
  cursor: pointer;
}

.success {
  color: green;
}

.fail {
  color: red;
}
